* {
    margin: 0;
    box-sizing: border-box;
}

.navegation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 49px;
    height: 10rem;
}

.logo img {
    width: 97px;
    height: 59px;
    flex-shrink: 0;
}

.navegation img {
    height: 1.8rem;
}

.navegation-header {
    display: flex;
    align-items: center;
}

.navegation-header a, img {
    margin-right: 1.5rem;
    text-decoration: none;
}

main {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main img {
    width: 10rem;
}

