@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1204px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 230px;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.logo-wrap img {
    width: 97px;
    height: 59px;
    margin-top: 41px;
}

.navigation-header {
    display: flex;
    align-items: center;
    margin-top: 41px;
}

.navigation-header a {
    margin-right: 24px;
    text-decoration: none;
    color: #666;
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.presentation {
    display: flex;
    max-width: 1204px;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}

.highlight {
    background: var(--gradient-heading, linear-gradient(90deg, #13B0F5 2.60%, #E70FAA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 58px;
    font-style: normal;
    letter-spacing: -1px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text {
    font-family: Poppins;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1px;
    color: #42446E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-wrap {
    background: linear-gradient(#E70FAA, #00C0FD);
    border-radius: 50%;
    padding-top: 0px 3px;
    overflow: hidden;
}

.presentation img {
    width: 349px;
    filter: grayscale(1);
    cursor: pointer;
    position: relative;
    top: 6px;
    overflow: hidden;
}

.technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 385px;
    margin-bottom: 214px;
}

.section-title {
    color: #42446E;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 49px;
}

.section-description {
    color: var(--dark-content, #666);
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 140px;
}

.icons-tech {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
}

.logo-npm {
    width: 120px;
    height: 119px;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    max-width: 120px;
    height: 100px;
}

.txt-hidden {
    display: none;
    color: #42446E;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.icon-box:hover .txt-hidden {
    display: block;
    opacity: 0.7;
}

.projects .wrap-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 225px;
}

.projects .card {
    width: 375px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.20);
    font-family: Poppins;
    margin-bottom: 62px;
}

.projects .content {
    padding: 28px;
}

.projects .title,
.projects .discription {
    margin-bottom: 17px;
}

.projects .title {
    font-size: 28px;
}

.projects .discription {
    font-size: 18px;
}

.projects .tech-stack {
    color: #42446E;
    font-size: 16px;
    margin-bottom: 21px;
}

.projects .img-wrap {
    background-image: url(images/Rectangle\ 4.png);
    width: 100%;
    height: 260px;
    background-repeat: no-repeat;
}

.projects .links {
    display: flex;
}

.projects .link {
    display: flex;
    align-items: center;
}

.projects .link:first-child {
    margin-right: 48px;
}

.projects .link-icon {
    width: 20px;
    margin-right: 10px;
}

.information-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #42446E;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.information-footer .contacts-foolter {
    display: flex;
    align-items: center;
    margin-bottom: 62px;
    justify-content: space-between;
}

.information-footer .contacts-foolter .content-foolter {
    display: flex;
    gap: 20px;
}

.information-footer .contacts-foolter .content-foolter .text-footer {
    margin-right: 63px;
}


.navigation-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px; /* Pq não aplicou o margin-bottom?*/
    margin-bottom: 60px;
}

.navigation-footer .navigation-end .link-footer {
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    margin-right: 56px;
}

.navigation-footer .division {
    stroke-width: 2px;
    stroke: var(--dark-content, #666);
    opacity: 0.3;
    margin-bottom: 59px;
}

.navigation-footer .credit {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.navigation-footer .credit .highlight-footer {
    background: var(--gradient-heading, linear-gradient(90deg, #13B0F5 2.60%, #E70FAA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    font-style: normal;
    letter-spacing: -1px;
}
