.container-about {
    max-width: 748px;
    padding: 0 20px;
}

.experience {
    margin-bottom: 80px;
    margin-top: 38px;
}

.container-about .about-me {
    color: #666;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.12rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 110px;
}

.container-about h1,
.experience h1 {
    color: #42446E;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 2.62rem;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.4px;
    margin-bottom: 38px;
}

.container-about h2 {
    color: #666;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
}

.container-about .about-me p,
.container-about .experience p,
.container-about .education p {
    color: #A7A7A7;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.container-about .cx1,
.cx2
{
    display: flex;
    align-items: center;
}

.container-about .experience,
.education {
    color: #666;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
}

.container-about .function-work {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.8px;
    margin-bottom: 20px;
}

.separator {
    margin-bottom: 110px;
}

.container-about .companies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #A7A7A7;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 1px;
}

@media(max-width: 541px) {
    .experience .companies,
    .education .companies {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: flex-start;
    }
}

@media(max-width: 432px) {
    .about-me {
        margin-top: 180px;
    }

    .navigation-footer {
        justify-content: center;
    }

    .navigation-end {
        display: flex;
        margin-left: 20px;
    }
}

