.container-about {
    max-width: 748px;
    padding: 0 20px;
}

.work-experience {
    margin-bottom: 30px;
    margin-top: 38px;
}

.container-about .about-me {
    color: #666;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.12rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.container-about h1,
.work-experience h1 {
    color: #42446E;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 2.62rem;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.4px;
    margin-bottom: 38px;
}

.container-about h2 {
    color: #666;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
}

.container-about .work-experience p,
.container-about .education p {
    color: #A7A7A7;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.container-about .cx1,
.cx2
{
    display: flex;
    align-items: center;
}

.container-about .work-experience,
.education {
    color: #666;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
}

.container-about .function-work {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.8px;
}

.container-about .btn-full-time {
    background: #D7FFE0;
    width: 84px;
    height: 24px;
    color: #018C0F;
    text-align: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 0.56rem;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    border-radius: 100px;
    border: none;
}

.separator {
    margin-bottom: 38px;
}

.container-about .companies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #A7A7A7;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 1px;
}

@media(max-width: 790px) {
    .btn-full-time {
        display: none;
    }

    
}