.contact-information .text-contact {
    color: #1E0E62;
    text-align: center;
    font-family: DM Sans, Arial, Helvetica, sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
}

.contact-information .contact-email h2 {
    text-align: center;
    font-family: DM Sans, Arial, Helvetica, sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 863px) {
    .contact-information .text-contact .contact-information-title,
    .contact-information .contact-email .contact-information-email {
        font-size: 50px;
    }
}

@media (max-width: 793px) {
    .contact-information .text-contact .contact-information-title,
    .contact-information .contact-email .contact-information-email {
        font-size: 40px;
    }
}

@media (max-width: 618px) {
    .contact-information .text-contact .contact-information-title,
    .contact-information .contact-email .contact-information-email {
        font-size: 30px;
    }
}

@media (max-width: 688px) {
    .icon-information-footer {
        flex-direction: row;
    }
}

@media (max-width: 492px) {
    .contact-information .text-contact .contact-information-title,
    .contact-information .contact-email .contact-information-email {
        font-size: 25px;
    }
}

@media (max-width: 432px) {
    .text-contact {
        margin-top: 190px;
    }
}