.btn_toggle {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.light_dark{
    width: 50px;
    height: 30px;
    margin-top: 40px;
    background: #cac8ca;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
}

.light_dark .toggle_dark_mode{
    width: 32px;
    height: 30px;
    background-color: #575255;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
}

.light_dark.dark {
    background-color: aliceblue;
}

.light_dark.dark .toggle_dark_mode {
    left: 18px;
    background-color:rgb(116, 119, 119);
}

body.dark {
    background-color:  #191919;
    transition: 0.5s;
}

body.dark .navigation {
    background: #191919;
}

body.dark .content,
body.dark .tech-stack {
    color: #cccccc;
}


body.dark .icon-box .icon-github {
    background-image: url('../images/akar-icons_github-fill\ \(88x88\)\ tech\ dark.svg');
}
    
body.dark .technologies .txt-hidden {
    color: #cccccc;
}

body.dark footer,
body.dark .link-footer,
body.dark h1 {
    color: #cccccc;
}

body.dark .section-title {
    color: #cccccc;
}

body.dark .navigation-link-text,
body.dark .section-description {
    color: #a7a7a7;
}
